<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="kr.co.jhta">
<select id="selectAll" resultType="ddto">
	SELECT deptno, dname,loc
	FROM dept
</select>
<select id="selectOne" parameterType="int" resultType="ddto">
	SELECT deptno, dname, loc
	FROM dept
	WHERE deptno = #{deptno}
</select>
<insert id="addOne" parameterType="ddto">
	INSERT INTO dept
	VALUES (#{deptno}, #{dname}, #{loc})
</insert>
<update id="modifyOne" parameterType="ddto">
	UPDATE dept
	SET loc=#{loc}
	WHERE deptno=#{deptno}
</update>
<delete id="deleteOne" parameterType="int">
	DELETE FROM dept
	WHERE deptno = #{deptno}
</delete>
</mapper>